[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
motor = "*"
pydantic-settings = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
greenlet = "*"
alembic = "*"
psycopg2-binary = "*"
langgraph = "*"
langchain-groq = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
bcrypt = "<4.0.0"
python-multipart = "*"
google-auth = "*"
requests = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "uvicorn app.main:app --host 0.0.0.0 --port 8080 --reload"
